# ─── Backend Image ────────────────────────────────────────────────────────────
BACKEND_IMAGE=julioxc4/restock-web-service:latest

# ─── Frontend Image ───────────────────────────────────────────────────────────
FRONTEND_IMAGE=julioxc4/restock-web-application:latest

# ─── Server ───────────────────────────────────────────────────────────────────
PORT=8080

# ─── MongoDB ──────────────────────────────────────────────────────────────────
MONGODB_DATABASE=restock_db

# ─── JWT ──────────────────────────────────────────────────────────────────────
JWT_SECRET=
JWT_EXPIRATION_DAYS=7

# ─── Cloudinary ───────────────────────────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ─── Firebase ─────────────────────────────────────────────────────────────────
INTEGRATIONS_FCM_ENABLED=false
FIREBASE_PROJECT_ID=dummy
FIREBASE_CREDENTIALS_BASE64=dummy

# ─── Stripe ───────────────────────────────────────────────────────────────────
STRIPE_SECRET_KEY=dummy
STRIPE_WEBHOOK_SECRET=dummy
STRIPE_SUCCESS_URL=http://localhost:4200/subscriptions/success
STRIPE_CANCEL_URL=http://localhost:4200/subscriptions/cancel

