# ─── Backend Image ────────────────────────────────────────────────────────────
BACKEND_IMAGE=julioxc4/restock-web-service:latest

# ─── Server ───────────────────────────────────────────────────────────────────
PORT=8080

# ─── MongoDB ──────────────────────────────────────────────────────────────────
MONGODB_DATABASE=restock_db

# ─── JWT ──────────────────────────────────────────────────────────────────────
JWT_SECRET=
JWT_EXPIRATION_DAYS=7

# ─── Cloudinary ───────────────────────────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=